@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'public/css/fonts.css';
@import './section.scss';
@import './hero.scss';

* {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: rgb(0, 0, 0);
  scroll-behavior: smooth;
}

:root {
  --color-primary: 0 0 0;
  --color-secondary: 174 180 189;
  --color-background: 255 255 255;
  --color-background-secondary: 230 230 230;
}

button, input, textarea{
  outline: none;
}

form[aria-disabled="true"]{
  label{
    input,textarea{
      @apply bg-secondary-background pointer-events-none;
    }
  }
}
label{
  @apply relative border border-primary/10 pt-5 pb-1 px-2 w-full;
  transition: border-color 0.3s;
  &.error{
    @apply border-red-600 bg-red-600/10;
    animation: show-error 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    @keyframes show-error{
      0%{transform: translateX(-5px);}
      20%{transform: translateX(5px);}
      40%{transform: translateX(-2.5px);}
      60%{transform: translateX(2.5px);}
      100%{transform: translateX(0);}
    }
  }
  span{
    @apply font-bender text-xs text-primary/50 absolute top-0 left-2;
  }
  &:hover, &:focus{
    span{
      @apply text-primary;
    }
  }
  input, textarea{
    @apply px-2 py-1 w-full;
    transition: box-shadow 0.2s;
    &:hover, &:focus{
      box-shadow: 0 0 0 1px black;
    }
  }
}

.button-primary{
  @apply py-3 relative;
  background: linear-gradient(to left, rgb(var(--color-background)) 0% 50%, rgb(var(--color-primary) / 0.8) 50% 100%);
  background-size: 202% 100%;
  background-position: 99% 0%;
  transition: background 0.4s, color 0.4s,background-position 0.4s, box-shadow 0.2s;
  &:before, &:after {
    content: '';
    @apply absolute w-5;
    aspect-ratio: 1;
    transition: border-color 0.5s, translate 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  }
  &:after{
    @apply bottom-1 right-1;
    border: {
      right: 1px solid rgb(var(--color-primary));
      bottom: 1px solid rgb(var(--color-primary));
    }
  }
  &:before{
    @apply top-1 left-1;
    border: {
      left: 1px solid rgb(var(--color-primary));
      top: 1px solid rgb(var(--color-primary));
    }
  }
   &:hover{
    color: rgb(var(--color-background));
    box-shadow: 0 0 0 1px black;
    background-position: 0% 0%;
    &:before{
      translate: -50% -50%;
    }
    &:after{
      translate: 50% 50%;
    }
  }
  &:disabled{
    background: linear-gradient(to left, rgb(var(--color-primary) / 0.4) 0% 100%);
    color: rgb(var(--color-background));
    box-shadow: 0 0 0 1px black;
    &:before{
      border-color: rgb(var(--color-background));
      translate: 0% 0%;
    }
    &:after{
      border-color: rgb(var(--color-background));
      translate: 0% 0%;
    }
  }
}

.link {
  @apply underline decoration-dashed underline-offset-2 decoration-slate-300/80;

  &:hover {
    @apply bg-background text-primary;
  }
}

.bg-gradient {
  background: {
    image: radial-gradient(circle at center, rgb(245, 244, 244) 0, rgb(214, 213, 211) 100%)
  }
}

.bg-dotted {
  background: {
    image: radial-gradient(rgba(1, 1, 1, 0.8) 8%,
        transparent 8%,
      );
    size: clamp(50px, 5vmin, 70px) clamp(50px, 5vmin, 70px);
  }

  z-index: 5;
  position: absolute;
}

.text-outline {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  user-select: none;
}

.text-background-deco {
  @apply absolute uppercase tracking-tighter top-0 right-0 -translate-y-1/2 w-full text-right text-[clamp(150px,15vw,15vw)] text-outline font-geometos;
}

.icon-link{
  @apply  bg-background/60 p-1 rounded-full;
  svg{
    fill: rgb(var(--color-primary) / 0.6);
    transition: scale 0.8s cubic-bezier(0.19, 1, 0.22, 1), fill 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  &:hover svg{
    scale: 1.1;
    fill: rgb(var(--color-primary));
  }
}