@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'public/css/fonts.css';
@import './section.scss';

* {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: rgb(0, 0, 0);
  scroll-behavior: smooth;
}

:root {
  --color-primary: 0 0 0;
  --color-secondary: 174 180 189;
  --color-background: 255 255 255;
}

.link {
  @apply underline decoration-dashed underline-offset-2 decoration-slate-300/80;

  &:hover {
    @apply bg-background text-primary;
  }
}

.bg-gradient {
  background: {
    image: radial-gradient(circle at center, rgb(245, 244, 244) 0, rgb(214, 213, 211) 100%)
  }
}

.bg-dotted {
  background: {
    image: radial-gradient(rgba(1, 1, 1, 0.8) 8%,
        transparent 8%,
      );
    size: 5vmin 5vmin;
  }

  z-index: 5;
  position: absolute;
}

.text-outline {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  user-select: none;
}

.text-background {
  @apply absolute uppercase tracking-tighter top-0 right-0 -translate-y-1/2 w-full text-right text-[clamp(150px,15vw,15vw)] text-outline font-geometos;
}

.box {
  $boxSize: 1.5vh;
  background: #000;
  width: $boxSize;
  aspect-ratio: 1;
  border: 1px solid black;
  position: absolute;

  &--top-left {
    @extend .box;
    top: -$boxSize/2;
    left: -$boxSize/2;
  }

  &--top-right {
    @extend .box;
    top: -$boxSize/2;
    right: -$boxSize/2;
  }

  &--bot-left {
    @extend .box;
    bottom: -$boxSize/2;
    left: -$boxSize/2;
  }

  &--bot-right {
    @extend .box;
    bottom: -$boxSize/2;
    right: -$boxSize/2;
  }
}
