.hero-title{
  &::after{
    @apply bg-primary h-full absolute w-3 md:w-5 md:-right-8 -right-5;
    content: '';
    animation: blinking 1.5s infinite step-end;
  }
}

@keyframes blinking{
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}