.loading-indicator {
  @apply fixed bottom-14 right-14 z-50;
  transition: opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 0;

  .loader {
    @apply grid grid-cols-2 w-14 aspect-square gap-1;
    >div {
      @apply rounded;
      background-color: hsl(0, 0, 70%);

      &:nth-child(3){
        order: 4;
      }
      &:nth-child(4){
        order: 3;
      }
    }
  }

  &.loading {
    animation: flash 0.3s linear;
    opacity: 1;
  }
}

@keyframes flash {
    0%{opacity: 0;}
    10%{opacity: 1;}
    20%{opacity: 0;}
    30%{opacity: 1;}
    40%{opacity: 0;}
    50%{opacity: 1;}
    60%{opacity: 0;}
    70%{opacity: 1;}
    80%{opacity: 0;}
    90%{opacity: 0;}
    100%{opacity: 1;}
}
