.nav {
  @apply absolute left-20 top-1/2 -translate-y-1/2;

  .navbar-desktop {
    @apply hidden md:flex flex-col gap-2;

    >a {
      @apply uppercase flex bg-white/70 items-center justify-center px-2 h-24 w-24 text-primary/50 relative;
      transition: background-color 0.8s cubic-bezier(0.19, 1, 0.22, 1), color 0.8s cubic-bezier(0.19, 1, 0.22, 1);

      &:hover {
        @apply bg-background text-primary;
      }

      &:after {
        content: '';
        @apply absolute left-1 top-1;
        @apply scale-0 origin-top-left;
        aspect-ratio: 3/5;
        border: {
          width: 1rem 1rem 0 0;
          color: rgb(var(--color-primary)) transparent transparent transparent;
        }
        transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
      }

      &:before {
        content: '';
        @apply absolute bottom-1 right-1 w-5;
        @apply scale-0;
        aspect-ratio: 1;
        border: {
          right: 1px solid rgb(var(--color-primary));
          bottom: 1px solid rgb(var(--color-primary));
        }
        transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
      }
    }

    .active {
      @apply bg-white text-black;

      &:after {
        @apply scale-100;
      }
      &:before{
        @apply scale-100;
      }
    }
  }
}